#title{position:sticky;background-color:black;padding:10px;margin-top:30px}
.title{padding:5px;display:flex;flex-direction:row;color:white}
#counsel{border-radius:15px;font-size:15px;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px;position:absolute;margin-top:300px;margin-left:1400px;}
